<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <h2>Hi, Welcome To Homepage</h2>

    <form method="POST">
        <input type="text" aria-label="Email" class="form-control" placeholder="Email" , name="Email">
        <br><br>
        <input type="text" aria-label="Password" class="form-control" placeholder="Password" , name="Password" ,
            type="password">
        <br><br>
        <input type="Submit"></input>
    </form>
    <br>
    <a href="/register">Register</a>
</body>

</body>

</html>