<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register user</title>
</head>

<body>
    <h2>Welcome to register page, please fill below details to register</h2>
    <form method="post">
        <input class="form-control" placeholder="Username" name="Dusername">
        <br><br>
        <input class="form-control" placeholder="Email" name="Emailuser">
        <br><br>
        <input class="form-control" placeholder="Password" name="Dpassword" , type="password">

        <br><br>
        <input type="Submit">
    </form>
</body>

</html>